#playground div {
    position: absolute;
    border: 1px solid #ffffff;
    background: #dddddd;
    box-sizing: border-box;
}

#playground div.set {
    background: #000000;;
    border-color: #000000;
}
